{%  extends 'accounts/main.html' %}
{% block content %}
<style>
	.main-card{
		background-color: #4f868c!important;
	}
</style>
	<br>
<div class="row">
	<div class="col-md ">
		<div class="card card-body main-card">
			<h5 class="text-white">Customer:</h5>
			<hr class="bg-white mb-4">
			<a class="btn btn-outline-dark text-white btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-dark text-white  btn-sm btn-block" href="{% url 'create_order' customer.id %}">Place new order</a>
		</div>
	</div>
	<div class="col-md">	
		<div class="card card-body main-card">
			<h5 class="text-white">Contact Information</h5>
			<hr class="bg-white">
			<p class="text-white">Email: {{customer.email}} </p>
			<p class="text-white">Phone: {{customer.phone}} </p>
		</div>
	</div>
	<div class="col-md">
		<div class="card card-body main-card">
			<h5 class="text-white">Total Orders</h5>
			<hr class="bg-white">
			<h1 class="text-white" style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>
<br>

<div class="container col-10">
    <div class="col">
		<div class="card card-body">
			<form method="get">
			{{myFilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>

</div>
<br>

<div class="container col-10">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr style="background-color: cadetblue;">
					<th>Sno</th>
					<th>Product</th>
					<th>Note</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				{%for order in orders%}
				<tr>
					<th>{{forloop.counter}}</th>
				  <td>{{order.product}}</td>
				  <td>{{order.note}}</td>
				  <td>{{order.date_created}}</td>
				  <td>{{order.status}}</td>
				  <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
				 <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}" >Remove</a></td>
				  </tr>
				{%endfor%}
			</table>
		</div>
	</div>
</div>
{% endblock %}